# sops
/secrets.yaml

# age
/keys.txt

# hetzner dump
hetzner.nix

# Direnv directory
.direnv/

# Local .terraform directories
**/.terraform/*

# .tfstate files: https://stackoverflow.com/a/38748987/1502035
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore local .tfvars
*.tfvars

# generated terraform files
*.json
